<% provide(:title, 'Acerca de') %>

    <h1>Acerca de</h1>
    <p>
     <%= link_to "Ruby on Rails", "http://rubyonrails.org/" %> es un framework de desarrollo web basado en el lenguaje de programación Ruby.  En la actualidad hay muchos lenguajes de programación y frameworks para el desarrollo web (PHP + Zend, Python + Django) pero, ¿por qué Rails?.

     Fijémonos primero en las ventajas de Ruby.

     
  