<% provide(:title, 'Contacto') %>
<h1>Contacto</h1>
<p>
  Si estás interesado en saber más sobre frameworks para desarrollo web, puedes contactar conmigo en esta dirección de 
  <%= link_to "correo", "mailto:sergio@madridcraftlab.es" %>
</p>