<% provide(:title, 'Ayuda') %>

    <h1>Ayuda</h1>
    <div class="row-fluid">
      <div class="center span4 ">
        <%= link_to image_tag("gravatar.png", alt: "Gravatar", :class => "img-circle"), 'http://gravatar.com/'%>
        <h2>Únete a Gravatar</h2>
        <p>Y unifica las fotos de tus redes sociales en un sólo mail</p>
      </div>
      <div class="center span4 ">
        <h2>Únete a Gravatar</h2>
        <p>Y unifica las fotos de tus redes sociales en un sólo mail</p>
      </div>
      <div class="center span4 ">
        <%= image_tag("boy.png", alt: "", :class => "img-circle")%>
        <h2>Únete a Gravatar</h2>

        <p>Y unifica las fotos de tus redes sociales en un sólo mail</p>
      </div>
    </div>
    