<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Escribe un nuevo micropost..." %>
  </div>
  <%= f.submit "Enviar", class: "btn btn-primary btn-large btn-primary" %>
<% end %>