<% @user ||= current_user %>
<div class="center stats">
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
    <span class="badge badge-info">  <%= @user.followed_users.count %></span>
    </strong>
    siguiendo
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
    <span class="badge badge-info">  <%= @user.followers.count %></span>
    </strong>
    seguidores
  </a>
</div>